@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?3cifxm');
  src: url('../fonts/icomoon.eot?3cifxm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3cifxm') format('truetype'),
    url('../fonts/icomoon.woff?3cifxm') format('woff'),
    url('../fonts/icomoon.svg?3cifxm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;


}

.icon-menu:before {
  content: "\e900";
}

.icon-arrow_left:before {
  content: "\e901";
}

.icon-arrow_right:before {
  content: "\e902";
}

.icon-arrow_up:before {
  content: "\e903";
}

.icon-arrow_down:before {
  content: "\e904";
}

.icon-close:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}

.icon-image:before {
  content: "\e907";
}

.icon-check_box:before {
  content: "\e908";
}

.icon-check_box_blank:before {
  content: "\e909";
}

.icon-indeterminate_check_box:before {
  content: "\e90a";
}

.icon-check_circle:before {
  content: "\e90b";
}

.icon-radio_button_unchecked:before {
  content: "\e90c";
}

.icon-radio_button_checked:before {
  content: "\e90d";
}

.icon-favorite:before {
  content: "\e90e";
}

.icon-star:before {
  content: "\e90f";
}

.icon-star_half:before {
  content: "\e910";
}

.icon-arrow_drop_down:before {
  content: "\e911";
}

.icon-arrow_drop_up:before {
  content: "\e912";
}

.icon-done:before {
  content: "\e913";
}

.icon-more_vert:before {
  content: "\e914";
}

.icon-more_horiz:before {
  content: "\e915";
}

.icon-add:before {
  content: "\e916";
}

.icon-remove:before {
  content: "\e917";
}

.icon-keyboard_arrow_left:before {
  content: "\e918";
}

.icon-keyboard_double_arrow_left:before {
  content: "\e919";
}

.icon-keyboard_arrow_right:before {
  content: "\e91a";
}

.icon-keyboard_double_arrow_righ:before {
  content: "\e91b";
}

.icon-keyboard_arrow_down:before {
  content: "\e91c";
}

.icon-keyboard_double_arrow_do:before {
  content: "\e91d";
}

.icon-keyboard_arrow_up:before {
  content: "\e91e";
}

.icon-keyboard_double_arrow_up:before {
  content: "\e91f";
}

.icon-calendar_today:before {
  content: "\e920";
}

.icon-event_note:before {
  content: "\e921";
}

.icon-event:before {
  content: "\e922";
}

.icon-event_available:before {
  content: "\e923";
}

.icon-event_busy:before {
  content: "\e924";
}

.icon-date_range:before {
  content: "\e925";
}

.icon-info:before {
  content: "\e926";
}

.icon-error:before {
  content: "\e927";
}

.icon-help:before {
  content: "\e928";
}

.icon-play_circle:before {
  content: "\e929";
}

.icon-stop_circle:before {
  content: "\e92a";
}

.icon-pause_circle:before {
  content: "\e92b";
}

.icon-cancel:before {
  content: "\e92c";
}

.icon-add_circle:before {
  content: "\e92d";
}

.icon-remove_circle:before {
  content: "\e92e";
}

.icon-pending:before {
  content: "\e92f";
}

.icon-expand_circle_down:before {
  content: "\e930";
}

.icon-expand_circle_up:before {
  content: "\e931";
}

.icon-zoom_in:before {
  content: "\e932";
}

.icon-zoom_out:before {
  content: "\e933";
}

.icon-thumb_up:before {
  content: "\e934";
}

.icon-thumb_down:before {
  content: "\e935";
}

.icon-square:before {
  content: "\e936";
}

.icon-setting:before {
  content: "\e937";
}

.icon-edit:before {
  content: "\e938";
}

.icon-open_in_new:before {
  content: "\e939";
}

.icon-open_in_full:before {
  content: "\e93a";
}

.icon-close_fullscreen:before {
  content: "\e93b";
}

.icon-arrow_share:before {
  content: "\e93c";
}

.icon-share:before {
  content: "\e93d";
}

.icon-content_copy:before {
  content: "\e93e";
}

.icon-send:before {
  content: "\e93f";
}

.icon-mail:before {
  content: "\e940";
}

.icon-drafts:before {
  content: "\e941";
}

.icon-inbox:before {
  content: "\e942";
}

.icon-schedule:before {
  content: "\e943";
}

.icon-update:before {
  content: "\e944";
}

.icon-timer:before {
  content: "\e945";
}

.icon-alarm:before {
  content: "\e946";
}

.icon-alarm_on:before {
  content: "\e947";
}

.icon-alarm_add:before {
  content: "\e948";
}

.icon-refresh:before {
  content: "\e949";
}

.icon-sync:before {
  content: "\e94a";
}

.icon-undo:before {
  content: "\e94b";
}

.icon-redo:before {
  content: "\e94c";
}

.icon-upload:before {
  content: "\e94d";
}

.icon-download:before {
  content: "\e94e";
}

.icon-bookmark:before {
  content: "\e94f";
}

.icon-language:before {
  content: "\e950";
}

.icon-delete:before {
  content: "\e951";
}

.icon-link:before {
  content: "\e952";
}

.icon-person:before {
  content: "\e953";
}

.icon-account_circle:before {
  content: "\e954";
}

.icon-person_add:before {
  content: "\e955";
}

.icon-call:before {
  content: "\e956";
}

.icon-shopping_cart:before {
  content: "\e957";
}

.icon-shopping_bag:before {
  content: "\e958";
}

.icon-notifications:before {
  content: "\e959";
}

.icon-chat_bubble:before {
  content: "\e95a";
}

.icon-sms:before {
  content: "\e95b";
}

.icon-local_shipping:before {
  content: "\e95c";
}

.icon-home:before {
  content: "\e95d";
}

.icon-photo_camera:before {
  content: "\e95e";
}

.icon-folder:before {
  content: "\e95f";
}

.icon-draft:before {
  content: "\e960";
}

.icon-reply:before {
  content: "\e961";
}

.icon-forward:before {
  content: "\e962";
}

.icon-face_id:before {
  content: "\e963";
}

.icon-fingerprint:before {
  content: "\e964";
}

.icon-lock:before {
  content: "\e965";
}

.icon-lock_open:before {
  content: "\e966";
}

.icon-apps:before {
  content: "\e967";
}

.icon-videocam:before {
  content: "\e968";
}

.icon-list:before {
  content: "\e969";
}

.icon-play_arrow:before {
  content: "\e96a";
}

.icon-stop:before {
  content: "\e96b";
}

.icon-pause:before {
  content: "\e96c";
}

.icon-skip_next:before {
  content: "\e96d";
}

.icon-skip_previous:before {
  content: "\e96e";
}

.icon-fast_forward:before {
  content: "\e96f";
}

.icon-fast_rewind:before {
  content: "\e970";
}

.icon-title:before {
  content: "\e971";
}

.icon-format_bold:before {
  content: "\e972";
}

.icon-format_italic:before {
  content: "\e973";
}

.icon-format_underlined:before {
  content: "\e974";
}

.icon-format_size:before {
  content: "\e975";
}

.icon-format_strikethrough:before {
  content: "\e976";
}

.icon-format_align_left:before {
  content: "\e977";
}

.icon-format_align_center:before {
  content: "\e978";
}

.icon-format_align_right:before {
  content: "\e979";
}

.icon-format_align_justify:before {
  content: "\e97a";
}

.icon-Login:before {
  content: "\e97b";
}

.icon-Logout:before {
  content: "\e97c";
}

.icon-backspace:before {
  content: "\e97d";
}

.icon-category:before {
  content: "\e97e";
}

.icon-sentiment_satisfied:before {
  content: "\e97f";
}

.icon-wifi:before {
  content: "\e980";
}

.icon-bluetooth:before {
  content: "\e981";
}

.icon-rss_feed:before {
  content: "\e982";
}

.icon-visibility:before {
  content: "\e983";
}

.icon-visibility_off:before {
  content: "\e984";
}

.icon-start:before {
  content: "\e985";
}

.icon-keyboard_tab:before {
  content: "\e986";
}

.icon-add_reaction:before {
  content: "\e987";
}

.icon-space_bar:before {
  content: "\e988";
}

.icon-keyboard_return:before {
  content: "\e989";
}

.icon-keyboard_control:before {
  content: "\e98a";
}

.icon-keyboard_command:before {
  content: "\e98b";
}

.icon-keyboard_option:before {
  content: "\e98c";
}

.icon-publish:before {
  content: "\e98d";
}

.icon-delete_forever:before {
  content: "\e98e";
}

.icon-thick_arrow_right:before {
  content: "\e98f";
}

.icon-thick_arrow_up:before {
  content: "\e990";
}

.icon-thick_arrow_down:before {
  content: "\e991";
}

.icon-thick_arrow_left:before {
  content: "\e992";
}

.icon-map:before {
  content: "\e993";
}

.icon-navigation:before {
  content: "\e994";
}

.icon-near_me:before {
  content: "\e995";
}

.icon-near_me_off:before {
  content: "\e996";
}

.icon-my_location:before {
  content: "\e997";
}

.icon-my_location_off:before {
  content: "\e998";
}

.icon-location:before {
  content: "\e999";
}

.icon-location_off:before {
  content: "\e99a";
}

.icon-check_location:before {
  content: "\e99b";
}

.icon-add_location:before {
  content: "\e99c";
}

.icon-explore:before {
  content: "\e99d";
}

.icon-explore_off:before {
  content: "\e99e";
}

.icon-brand_apple:before {
  content: "\e99f";
}

.icon-brand_kakao:before {
  content: "\e9a0";
}

.icon-brand_naver:before {
  content: "\e9a1";
}

.icon-brand_facebook:before {
  content: "\e9a2";
}

.icon-brand_google:before {
  content: "\e9a3";
}

.icon-brand_twitter:before {
  content: "\e9a4";
}

.icon-brand_instagram:before {
  content: "\e9a5";
}

.icon-brand_notion:before {
  content: "\e9a6";
}

.icon-brand_linkedin:before {
  content: "\e9a7";
}

.icon-brand_pinterest:before {
  content: "\e9a8";
}

.icon-brand_youtube:before {
  content: "\e9a9";
}

.icon-brand_github:before {
  content: "\e9aa";
}

.icon-brand_medium:before {
  content: "\e9ab";
}

.icon-brand_skype:before {
  content: "\e9ac";
}

.icon-brand_tumblr:before {
  content: "\e9ad";
}

.icon-brand_tiktok:before {
  content: "\e9ae";
}

.icon-brand_dribbble:before {
  content: "\e9af";
}

.icon-brand_twitch:before {
  content: "\e9b0";
}

.icon-brand_figma:before {
  content: "\e9b1";
}

.icon-brand_meta:before {
  content: "\e9b2";
}

.icon-brand_reddit:before {
  content: "\e9b3";
}

.icon-brand_spotify:before {
  content: "\e9b4";
}

.icon-brand_discord:before {
  content: "\e9b5";
}

.icon-brand_microsoft:before {
  content: "\e9b6";
}

.icon-brand_android:before {
  content: "\e9b7";
}

.icon-brand_behance:before {
  content: "\e9b8";
}

.icon-brand_amazon:before {
  content: "\e9b9";
}

.icon-brand_messenger:before {
  content: "\e9ba";
}

.icon-brand_snapchat:before {
  content: "\e9bb";
}

.icon-brand_slack:before {
  content: "\e9bc";
}

.icon-brand_appstore:before {
  content: "\e9bd";
}

.icon-brand_playstore:before {
  content: "\e9be";
}

.icon-image-1:before {
  content: "\e9bf";
}

.icon-check_box-1:before {
  content: "\e9c0";
}

.icon-indeterminate_check_box-1:before {
  content: "\e9c1";
}

.icon-check_circle-1:before {
  content: "\e9c2";
}

.icon-radio_button_checked-1:before {
  content: "\e9c3";
}

.icon-favorite-1:before {
  content: "\e9c4";
}

.icon-star-1:before {
  content: "\e9c5";
}

.icon-calendar_today-1:before {
  content: "\e9c6";
}

.icon-event_note-1:before {
  content: "\e9c7";
}

.icon-event_available-1:before {
  content: "\e9c8";
}

.icon-event-1:before {
  content: "\e9c9";
}

.icon-date_range-1:before {
  content: "\e9ca";
}

.icon-circle-1:before {
  content: "\e9cb";
}

.icon-info-1:before {
  content: "\e9cc";
}

.icon-error-1:before {
  content: "\e9cd";
}

.icon-help-1:before {
  content: "\e9ce";
}

.icon-play_circle-1:before {
  content: "\e9cf";
}

.icon-stop_circle-1:before {
  content: "\e9d0";
}

.icon-pause_circle-1:before {
  content: "\e9d1";
}

.icon-cancel-1:before {
  content: "\e9d2";
}

.icon-add_circle-1:before {
  content: "\e9d3";
}

.icon-remove_circle-1:before {
  content: "\e9d4";
}

.icon-pending-1:before {
  content: "\e9d5";
}

.icon-expand_circle_down-1:before {
  content: "\e9d6";
}

.icon-expand_circle_up-1:before {
  content: "\e9d7";
}

.icon-thumb_up-1:before {
  content: "\e9d8";
}

.icon-thumb_down-1:before {
  content: "\e9d9";
}

.icon-square-1:before {
  content: "\e9da";
}

.icon-setting-1:before {
  content: "\e9db";
}

.icon-edit-1:before {
  content: "\e9dc";
}

.icon-share-1:before {
  content: "\e9dd";
}

.icon-content_copy-1:before {
  content: "\e9de";
}

.icon-send-1:before {
  content: "\e9df";
}

.icon-mail-1:before {
  content: "\e9e0";
}

.icon-drafts-1:before {
  content: "\e9e1";
}

.icon-inbox-1:before {
  content: "\e9e2";
}

.icon-schedule-1:before {
  content: "\e9e3";
}

.icon-timer-1:before {
  content: "\e9e4";
}

.icon-alarm-1:before {
  content: "\e9e5";
}

.icon-alarm_on-1:before {
  content: "\e9e6";
}

.icon-alarm_add-1:before {
  content: "\e9e7";
}

.icon-bookmark-1:before {
  content: "\e9e8";
}

.icon-language-1:before {
  content: "\e9e9";
}

.icon-delete-1:before {
  content: "\e9ea";
}

.icon-person-1:before {
  content: "\e9eb";
}

.icon-account_circle-1:before {
  content: "\e9ec";
}

.icon-person_add-1:before {
  content: "\e9ed";
}

.icon-call-1:before {
  content: "\e9ee";
}

.icon-shopping_cart-1:before {
  content: "\e9ef";
}

.icon-shopping_bag-1:before {
  content: "\e9f0";
}

.icon-notifications-1:before {
  content: "\e9f1";
}

.icon-chat_bubble-1:before {
  content: "\e9f2";
}

.icon-sms-1:before {
  content: "\e9f3";
}

.icon-local_shipping-1:before {
  content: "\e9f4";
}

.icon-home-1:before {
  content: "\e9f5";
}

.icon-photo_camera-1:before {
  content: "\e9f6";
}

.icon-folder-1:before {
  content: "\e9f7";
}

.icon-draft-1:before {
  content: "\e9f8";
}

.icon-lock-1:before {
  content: "\e9f9";
}

.icon-lock_open-1:before {
  content: "\e9fa";
}

.icon-videocam-1:before {
  content: "\e9fb";
}

.icon-play_arrow-1:before {
  content: "\e9fc";
}

.icon-stop-1:before {
  content: "\e9fd";
}

.icon-pause-1:before {
  content: "\e9fe";
}

.icon-skip_next-1:before {
  content: "\e9ff";
}

.icon-skip_previous-1:before {
  content: "\ea00";
}

.icon-fast_forward-1:before {
  content: "\ea01";
}

.icon-fast_rewind-1:before {
  content: "\ea02";
}

.icon-backspace-1:before {
  content: "\ea03";
}

.icon-category-1:before {
  content: "\ea04";
}

.icon-sentiment_satisfied-1:before {
  content: "\ea05";
}

.icon-visibility-1:before {
  content: "\ea06";
}

.icon-visibility_off-1:before {
  content: "\ea07";
}

.icon-delete_forever-1:before {
  content: "\ea08";
}

.icon-thick_arrow_right-1:before {
  content: "\ea09";
}

.icon-thick_arrow_up-1:before {
  content: "\ea0a";
}

.icon-thick_arrow_down-1:before {
  content: "\ea0b";
}

.icon-thick_arrow_left-1:before {
  content: "\ea0c";
}

.icon-map-1:before {
  content: "\ea0d";
}

.icon-navigation-1:before {
  content: "\ea0e";
}

.icon-near_me-1:before {
  content: "\ea0f";
}

.icon-near_me_off-1:before {
  content: "\ea10";
}

.icon-my_location-1:before {
  content: "\ea11";
}

.icon-location-1:before {
  content: "\ea12";
}

.icon-location_off-1:before {
  content: "\ea13";
}

.icon-check_location-1:before {
  content: "\ea14";
}

.icon-add_location-1:before {
  content: "\ea15";
}

.icon-explore-1:before {
  content: "\ea16";
}

.icon-explore_off-1:before {
  content: "\ea17";
}

.icon-brand_instagram-1:before {
  content: "\ea18";
}

.icon-brand_figma-1:before {
  content: "\ea19";
}

.icon-brand_snapchat-1:before {
  content: "\ea1a";
}